################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nnpack/v15
/googletest/googletest/msvc/2010/.vs/gtest/v15
/googletest/googletest/msvc/2010/x64/Release/gtest.tlog
/x64
/Debug